In [49]:
import urllib.request
from bs4 import BeautifulSoup as soup
import requests
import re
import pandas as pd
ss = '11'
link = 'http://rallyliveresults.com/wrc/?stage'

In [50]:
my_url11 = 'http://rallyliveresults.com/wrc/?stage'+ss
req = urllib.request.Request(my_url11, headers={'User-Agent': 'Mozilla/5.0'})
uClient11 = urllib.request.urlopen(req)
page_html11 = uClient11.read()
uClient11.close()

page_soup2 = soup(page_html11, "html.parser")
table = page_soup2.find('table')
table = str(table)
table = re.sub(r'<img.*?>','', table)
table = re.sub(r'\n','', table)
table = soup(table, "html.parser")
#table

In [51]:
headers = []
for i in table.find_all('th'):
 title = i.text
 headers.append(title)
headers

['Pos.', 'Pilote / Co-pilote', 'Voiture', '#', 'Temps', 'Écart']

In [52]:
monte_2 = pd.DataFrame(columns=headers)

In [53]:
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(monte_2)
    monte_2.loc[length]=row

In [54]:
monte_2['ss']=ss
monte_2.to_csv('monte23_SS'+ss+'.csv',index=False)

In [55]:
my_url11 = 'http://rallyliveresults.com/wrc/?stage'+"12"
req = urllib.request.Request(my_url11, headers={'User-Agent': 'Mozilla/5.0'})
uClient11 = urllib.request.urlopen(req)
page_html11 = uClient11.read()
uClient11.close()

page_soup2 = soup(page_html11, "html.parser")
table = page_soup2.find('table')
table = str(table)
table = re.sub(r'<img.*?>','', table)
table = re.sub(r'\n','', table)
table = soup(table, "html.parser")
#table

In [56]:
headers = []
for i in table.find_all('th'):
 title = i.text
 headers.append(timonte_2 = pd.DataFrame(columns=headers)tle)
headers

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2332978417.py, line 4)

In [57]:
monte_2a = pd.DataFrame(columns=headers)

In [58]:
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(monte_2a)
    monte_2a.loc[length]=row

In [59]:
monte_2a

,Pos.,Pilote / Co-pilote,Voiture,#,Temps,Écart
0,1,Sébastien OGIER Vincent LANDAIS,Toyota GR Yaris Rally1 HYBRID,17,02:27:11.5,+00:00:00
1,2,Kalle ROVANPERÄ Jonne HALTTUNEN,Toyota GR Yaris Rally1 HYBRID,69,02:27:27.5,+00:00:16
2,3,Thierry NEUVILLE Martijn WYDAEGHE,Hyundai i20 N Rally1 HYBRID,11,02:27:43.5,+00:00:32
3,4,Elfyn EVANS Scott MARTIN,Toyota GR Yaris Rally1 HYBRID,33,02:28:8,+00:00:56.5
4,5,Ott TÄNAK Martin JÄRVEOJA,Ford Puma Rally1 HYBRID,8,02:28:48.8,+00:01:37.3
...,...,...,...,...,...,...
66,67,Daniel ALONSO Adrián PÉREZ,Citroen C3,41,03:44:53.6,+01:17:42.1
67,68,Giorgio MARAZZATO Elisa SOMMARIVA,Peugeot 208,77,03:48:16.8,+01:21:5.3
68,69,Grégory FONTALBA Stéphan HERMET,Alpine A110,65,03:49:2.8,+01:21:51.3
69,70,Marc DESSI Pamela DESSI,Renault Clio RS Line,86,03:51:2.7,+01:23:51.2
70,71,Grégory DAL ZOTTO Hervé DUBREUIL,Peugeot 208 Rally4,70,04:07:43,+01:40:31.5

In [61]:
monte_2a['ss']=12
monte_2a.to_csv('monte23_SS'+'12'+'.csv',index=False)