In [1]:
import urllib.request
from bs4 import BeautifulSoup as soup
import requests
import re
import pandas as pd

In [2]:
my_url11 = 'http://rallyliveresults.com/wrc/?stage=11'
req = urllib.request.Request(my_url11, headers={'User-Agent': 'Mozilla/5.0'})
uClient11 = urllib.request.urlopen(req)
page_html11 = uClient11.read()
uClient11.close()

page_soup2 = soup(page_html11, "html.parser")
table = page_soup2.find('table')
type(table)

bs4.element.Tag

In [3]:
table0 = str(table)
table2 = re.sub(r'<img.*?>','', table0)
table2 = re.sub(r'\n','', table2)
table3 = soup(table2, "html.parser")

In [4]:
headers = []
for i in table3.find_all('th'):
 title = i.text
 headers.append(title)
headers

['Pos.', 'Pilote / Co-pilote', 'Voiture', '#', 'Temps', 'Écart']

In [5]:
monte_2 = pd.DataFrame(columns=headers)

In [6]:
for j in table3.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(monte_2)
    monte_2.loc[length]=row

In [8]:
monte_2

,Pos.,Pilote / Co-pilote,Voiture,#,Temps,Écart
0,1,Sébastien OGIER Vincent LANDAIS,Toyota GR Yaris Rally1 HYBRID,17,01:56:54.8,+00:00:00
1,2,Kalle ROVANPERÄ Jonne HALTTUNEN,Toyota GR Yaris Rally1 HYBRID,69,01:57:24.8,+00:00:30
2,3,Thierry NEUVILLE Martijn WYDAEGHE,Hyundai i20 N Rally1 HYBRID,11,01:57:37.2,+00:00:42.4
3,4,Elfyn EVANS Scott MARTIN,Toyota GR Yaris Rally1 HYBRID,33,01:57:55.6,+00:01:0.8
4,5,Ott TÄNAK Martin JÄRVEOJA,Ford Puma Rally1 HYBRID,8,01:58:7,+00:01:12.2
...,...,...,...,...,...,...
66,67,Marc DESSI Pamela DESSI,Renault Clio RS Line,86,02:50:51.7,+00:53:56.9
67,68,Olivier BURRI Anderson LEVRATTI,Hyundai i20 N,38,02:57:37.2,+01:00:42.4
68,69,Giorgio MARAZZATO Elisa SOMMARIVA,Peugeot 208,77,00::48.3,+01:03:53.5
69,70,Grégory FONTALBA Stéphan HERMET,Alpine A110,65,03:07:26.8,+01:10:32
70,71,Grégory DAL ZOTTO Hervé DUBREUIL,Peugeot 208 Rally4,70,03:25:42,+01:28:47.2